<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>aula1</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static',filename='css/stilo.css')}}">
       
    
    </head>
    <body>
        <div>
         <nav>
            <ul>
              <li><a href="#hero">HOME</a></li>
              <li><a href="/login">LOGIN</a></li>
              <li><a href="#about">SERVIÇOS</a></li>
              <li><a href="/aula">CONTATO</a></li>
            </ul>
          </nav>
        </div>
        
    
    </body>
</html>