<!DOCTYPE html>
<html>
<head>
    <title>Menu Lateral Direito na Vertical</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/lateral.css')}}">
        
</head>
<body>
    <div class="container" >
        <div class="main" >
            <h1>DESENVOLVEDOR WEB</h1>
            <p>Dev. Roberto Sillas</p>
        </div>
        <div class="sidebar">
            <div class="logo"></div>
            <ul>
                <br>
                <br>
                <br>
                <br>
                <br>
                <hr>
                <li><a href="#">Home</a></li>
                <li><a href="#" data-arquivo="sobre.html">Sobre nós</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Portfólio</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </div>
        <div id="conteudo"></div> 
    </div>
    
    <script src="/templates/script.js"></script>
    <script src="/templates/script2.js"></script>
    
</html>
